<button {{action "toggleModal"}} class="button-link">Buy</button>

{{#liquid-if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
                  containerClass="buy-dialog-container"
                  animatable=true
                  targetAttachment="center"
                  translucentOverlay=true}}

  <div class="top-panel">
    <div class="title">
      {{share.trackName}} - {{share.artist}}
    </div>
    <a {{action "toggleModal"}} class="close-btn">
      <svg width="32" height="32" viewBox="0 0 32 32">
        <g fill="none" fill-rule="evenodd">
            <path stroke="#6F6F7F" d="M9.5 9.5L22.5 22.5M22.5 9.5L9.5 22.5" stroke-linecap="round"></path>
        </g>
      </svg>
    </a>
  </div>

  <div class="mid-panel">
    <div class="details">
      <div class="box">
        <div class="label">CASH</div>
        <div class="value">{{money account.balance}}</div>
      </div>
      <div class="box">
        <div class="label">PRICE</div>
        <div class="value">{{money share.price}}</div>
      </div>
    </div>
    <div class="totalCost">
      <div class="box">
        <div class="label">TOTAL COST</div>
        <div class="value">{{money totalCost}}</div>
      </div>
    </div>
    <div class="quantity">
      {{input value=quantity placeholder="0"}}
    </div>
  </div>

  <div class="bottom-panel">
    {{#if loading}}
      <div type="button">
        <svg id="platform-loader-icon" viewBox="25 25 50 50">
          <circle class="loader-path-static" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
          <circle class="loader-path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
        </svg>
      </div>
    {{else if displaySuccess}}
      <div class="frame">
        <div class={{if displaySuccess 'complete loader' 'loader'}}>
          <div class="line"></div>
          <div class="line"></div><span class="tick"></span>
        </div>
      </div>
    {{else}}
      <button type="button" {{action "buy"}}>
        CONFIRM BUY
      </button>
    {{/if}}
  </div>

  {{/modal-dialog}}
{{/liquid-if}}
{{yield}}
