<div class="top">
  <div class="balance">
    <h1>CURRENT BALANCE</h1>
    <span>{{money account.balance}}</span>
  </div>

  <div class="portfolio-value">
    <h1>PORTFOLIO VALUE</h1>
    <span>{{money portfolio.totalPortfolioValue}}</span>
  </div>

  <div class="total-profit">
    <h1>TOTAL PROFIT</h1>
    {{money-change portfolio.totalProfitOrLoss 'span'}}
  </div>
</div>

<div class="table-list">
  <table>
    <tr class="column">
      <th></th>
      <th>TrackName</th>
      <th>Artist</th>
      <th>Buy Price</th>
      <th>Current Price</th>
      <th>Profit</th>
      <th>Change %</th>
      <th>Quantity</th>
      <th></th>
    </tr>
    {{#each portfolio.shares as |share|}}
      <tr class="row">
        <td></td>
        <td>{{share.trackName}}</td>
        <td>{{share.artist}}</td>
        <td>{{money share.price}}</td>
        <td>{{money share.currentPrice}}</td>
        {{money-change share.profitLoss 'td'}}
        <td></td>
        <td>{{share.quantity}}</td>
        <td>{{sell-dialog share=share}}</td>
      </tr>
    {{/each}}
  </table>
</div>
