<div class="controls">
  <div class="tabs">
    {{#link-to 'shares'}}
      All
    {{/link-to}}
    {{#link-to 'register'}}
      Favorites
    {{/link-to}}
  </div>
  <div class="search">
    Search
  </div>
</div>

<div class="table-list">
  <table>
    <tr class="column">
      <th>#</th>
      <th>Name</th>
      <th>Artist</th>
      <th>Streams</th>
      <th>Price</th>
      <th>Change</th>
      <th>Change %</th>
      <th></th>
    </tr>
    {{#each shares as |share|}}
      <tr class="row">
        <td>{{share.position}}</td>
        <td>{{share.trackName}}</td>
        <td>{{share.artist}}</td>
        <td>{{share.streams}}</td>
        <td>${{share.price}}</td>
        <td></td>
        <td></td>
        <td>
          {{buy-dialog share=share}}
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/>
          </svg>
        </td>
      </tr>
    {{/each}}
  </table>
</div>
