<table>
  <tr class="columns">
    <th>Position</th>
    <th>Name</th>
    <th>Artist</th>
    <th>Streams</th>
    <th>Price</th>
    <th>Trade</th>
  </tr>
  {{#each shares as |share|}}
    <tr class="row">
      <td>{{share.position}}</td>
      <td>{{share.trackName}}</td>
      <td>{{share.artist}}</td>
      <td>{{share.streams}}</td>
      <td>${{share.price}}</td>
      <td>{{trade-dialog share=share}}</td>
    </tr>
  {{/each}}
</table>
