<button {{action "toggleModal"}} class="button-link">Trade</button>

{{#liquid-if isShowingModal growDuration=500}}
  {{#modal-dialog onClose="toggleModal"
                  containerClass="trade-dialog-container"
                  targetAttachment="center"
                  translucentOverlay=true}}

  <div class="top-panel">
    <div class="title">
      {{share.trackName}} - {{share.artist}}
    </div>
    <a {{action "toggleModal"}} class="close-btn">
      {{fa-icon "times"}}
    </a>
  </div>

  <div class="mid-panel">
    <div class="details">
      <div class="balance">
        <span>Balance</span>
        <span>${{account.balance}}.57</span>
      </div>
      <div class="owned">
        <span>Holding</span>
        <span>{{holding.quantity}}</span>
      </div>
    </div>
    <div class="quantity">
      <span>Quantity</span>
      {{input value=quantity placeholder="0" class="quantity-btn"}}
    </div>
  </div>

  <div class="bottom-panel">
    <div class="sell-btn">
      <div class="title">
        Sell
      </div>
      <div class="price">
        {{share.price}}.00
      </div>
    </div>
    <a {{action "buy"}} class="buy-btn">
      <div class="title">
        Buy
      </div>
      <div class="price">
        {{share.price}}.00
      </div>
    </a>
  </div>

  {{/modal-dialog}}
{{/liquid-if}}
{{yield}}
